.card {
  @apply bg-white border border-gray-300 flex py-3 px-4 mt-3 space-x-3 items-center
  hover:bg-sky-100 rounded-md;
  -webkit-tap-highlight-color: transparent;
}

.card-compact {
  @apply space-x-2 bg-white border-b border-gray-300 py-1 px-4 flex
  hover:bg-sky-100 items-center;
  -webkit-tap-highlight-color: transparent;
}

.task-complete {
  @apply line-through text-gray-500;
}

mark {
  @apply text-gray-900 bg-sky-200;
}

.task-complete mark {
  @apply text-gray-500;
}

.overdue {
  @apply text-red-600;
}